.HOME_STYLES{
@import '~bootstrap/scss/bootstrap';
    .texte {
        text-align: left;
      }
      .multicolor-text {
        background-image: linear-gradient(to right, yellow, green, blue, indigo);
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
        color: transparent;
      }
      
}