.CONTACT_STYLES {
    .contact-card {
        border-radius: 0.2rem;
        border: 1px solid #eaf0fc;
        background: #fff;
        box-shadow: 1px 3px 10px rgba(173, 181, 189, 0.4);
        // padding: 40px 0;
        padding-bottom: 40px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
      }
    
      .contact-card .infos {
        // padding: 0 40px;
        min-width: 400px;
        border-right: 1px solid #eaf0fc;
      }
    
      .contact-card .infos .item {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        border-bottom: 1px solid #eaf0fc;
        margin-top: 20px;
        padding-bottom: 20px;
      }
    
      .contact-card .infos .item:last-child {
        border-bottom: 0;
      }
    
      .contact-card .infos .item h5 {
        margin-bottom: 0;
      }
    
      .contact-card .infos .item p {
        margin-bottom: 3px;
      }
    
      .contact-card .infos .item i {
        display: block;
        width: 30px;
        font-size: 30px;
        color: #ff214f;
        margin: 4px 20px 0 0;
      }
    
      .contact-card .form {
        -webkit-box-flex: 1;
        -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        // padding: 0 40px;
        height: 100%;
      }
    
      @media (max-width: 991.98px) {
        .contact-card .infos {
          display: none;
        }
      }
    
}
