.SIGN_IN_PAGE_STYLES {
  @import "~bootstrap/scss/bootstrap";
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 900px;
    margin: auto;
    text-align: center;
    font-family: arial;
    margin-top: 4%;
    border-radius: 10px;
    border-color: #ccf2ff;
    border: 10%;
    padding: 0%;
  }

  .div1 {
    background-image: url("../../../assets/images/andrea.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 20px;
  }
}
