.NAVBAR_STYLES {
  .con {
    color: azure;
    border-radius: 10px;
    border-color: aqua;
    position: relative;
    right: 220px;
  }

  .con:hover {
    background: linear-gradient(to right,
        rgb(49, 95, 49),
        rgba(44, 99, 201, 0.253));
    color: azure;
  }

  .insc {
    color: azure;
    background: linear-gradient(to right,
        rgb(49, 95, 49),
        rgba(44, 99, 201, 0.253));
    border-radius: 10px;
    position: absolute;
    right: 120px;
  }

  .insc:hover {
    background-color: blue;
    color: azure;
  }

  .navbt-resp {
    display: none;
  }

  .navbt-resp2 {
    display: block;
    position: absolute;
    right: 0;
  }

  @media screen and (max-width: 992px) {
    .navbt-resp {
      display: block;
    }

    .navbt-resp2 {
      display: none;
    }
  }

  .footer {
    background-color: #00004d;
    color: aliceblue;
    padding: 2rem 0;
  }

  .ft1 p {
    text-align: left;
    padding: 2rem;
  }

  .ft2 ul {
    list-style: none;
  }

  .ft2 ul a {
    text-decoration: none;
  }

  .ft2 ul li {
    padding: 0.35rem;
    font-weight: 500;
  }

  .ft3 ul {
    list-style: none;
  }

  .ft3 ul a {
    text-decoration: none;
  }

  .ft3 ul li {
    padding: 0.35rem;
    font-weight: 500;
  }
}