@import '/src/index.scss';

.active{
    color: $redcolor;
}

.buttonui{
    cursor: pointer;
    &:hover{
        background-color: white;
        border-right: 3px solid $redcolor ;
        padding-left: 15%;
        color: $redcolor;
        transition: all ease .4s;
    }
}