@import '/src/index.scss';

.active{
    color: $redcolor;
}

.buttonui{
    cursor: pointer;
    &:hover{
        background-color: white;
        border-right: 3px solid $redcolor ;
        padding-left: 20%;
        color: $redcolor;
        transition: all ease .4s;
        @media (max-width: 640px) { 
            padding-left: 15%;
        }
    }
}

.dropdownmenu{
    &:hover{
        background-color:#f1f5f9;
    }
}